# Python
__pycache__/
*.pyc
.venv/
.ipynb_checkpoints/


# Data outputs
/data/synthetic/*.csv
/data/synthetic/*.parquet


# OS/editor
.DS_Store
.vscode/

/.quarto/
docs/
_site/
.quarto/
_freeze/
.ipynb_checkpoints/
